@import url("https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdd935;
  color: #000;
  font-family: "Cabin Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

