@import url("https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdd935;
  color: #000;
  font-family: "Cabin Condensed", sans-serif;
}

/* header */
.about-icon {
  float: right;
  margin: 30px 50px 0 0;
}

.about-icon a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

.vprofileLine {
  border-left: 1px solid #4d4d4d;
  height: 300px;
  margin: 80px -16px 0 0;
  float: right;
}

/* main content */
.container {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.title {
  font-family: "Cabin", sans-serif;
  margin-top: 150px;
  line-height: 28px;
}

.title h1 {
  letter-spacing: 5px;
  text-indent: -80px;
  font-weight: lighter;
  font-size: 20px;
}

.title h1 span {
  color: #fff;
}

.title p {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #4d4d4d;
}

/* short profile */
.short-profile p {
  margin: 50px auto;
  width: 50%;
  font-size: 16px;
  font-weight: 1;
  font-family: "Cabin Condensed", sans-serif;

}

.nav-btn {
  margin-top: 60px;
}

.nav-btn a {
  text-decoration: none;
  color: #000;
  padding: 0 5px;
  margin: 0 5px;
}

.hprofileLine {
  border: 0.7px solid #4d4d4d;
  border-style: dotted;
  width: 458px;
  margin: -10px 0 0 720px;
}

.connect-line {
  font-size: 35px;
  font-weight: lighter;
  color: #fff;
  float: right;
  margin: -40px 0 0 50px;
}

.projects-icon {
  position: fixed;
  margin-left: 30px;
  top: 68%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.projects-icon a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #000;
  font-size: 20px;
}