html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

/* global style */
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
 
/* section background */
.bg-1 { 
  background-color: #f79b77;
  color: #555;
  height: 500px;
}
.bg-2 { 
  background-color: #474e5d; 
  color: #fff;
}
.bg-3 { 
  background-color: #fff; 
  color: #555;
}
.bg-4 { 
  background-color: #474e5d;
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-brand{
  font-weight: 1000;
  font-size: 12px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #f79b77 !important;
}

/* about */ 
.portfolio{
  padding:6%;
  text-align:center;
}
.heading{
  background: #f79b77;
  padding: 1%;
  text-align: left;
  /*box-shadow: 0px 0px 4px 0px #545b62;*/
}
.heading img{
  width: 10%;
}
.bio-info{
  padding: 5%;
  background:#f79b77;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name{
  font-family: 'Charmonman', cursive;
  font-weight:600;
}
.bio-image{
  text-align:center;
}
.bio-image img{
  border-radius:none;
}
.bio-content{
  text-align:left;
}
.bio-content p{
  font-weight:600;
  font-size:30px;
}

/* skills */
.unique-color {
  color: #f79b77;
  i {
    color: #f79b77;
  }
  li {
    color: #f79b77;
  }
  
}

.skill-icons {
  h1{
    font-size: 1em;
    margin-top: 50px;
  }
  li {
    display: inline-block;
    padding: 30px;
    font-size: 16px;
    color: #8b8b8b;
  }
   i {
    display: inline-block;
    margin: 10px 0 0 10px;
    font-size: 50px;
  }
}

/* footer */

.social-links-column {
  color: #f79b77;
  list-style-type: circle;
  line-height: 2;
}

.social-links-column li {
  display: inline-block;
  padding: 30px;
  font-size: 16px;
}

.social-links-column i {
  display: inline-block;
  margin: 20px 0 0 10px;
  color: #f79b77;
  font-size: 35px;
}

.social-links-column i:hover{
  color: #8b8b8b;
}



