/*@import url("https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed&display=swap");*/

* {
  box-sizing: border-box;
  font-family: "arial";
  padding: 0;
  margin: 0;
}

body {
  background-color: #1d1c1c;
  color: #fff;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #f3d841;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 900;
}

.toggle {
  position: relative;
  font-size: 40px;
  cursor: pointer;
  color: #f3d841;
}

.toggleClose {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  padding: 40px 50px;
  visibility: hidden;
  cursor: pointer;
  color: #f3d841;
}

.toggle.active {
  visibility: hidden;
  cursor: pointer;
}

.toggleClose.active {
  visibility: visible;
  cursor: pointer;
}

/* header landing content */
.landing-content {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.landing-content h1 {
  font-size: 6em;
  font-weight: 900;
}

.landing-content h2 {
  font-size: 0.9em;
  color: #f3d841;
  font-weight: lighter;
  margin-right: 400px;
}

#text-indent {
  margin-left: 700px;
  line-height: 2;
  text-align: justify;
}

/* social icons */
.social-icons {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  font-size: 30px;
  color: #f3d841;
  text-decoration: none;
  transform: scale(0.6);
}

/* info icons */
.info-icon {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
}

.info-icon li {
  list-style: none;
  font-size: 0.9em;

}

.info-icon li a {
  display: inline-block;
  font-size: 30px;
  padding-left: 10px;
  text-align: justify;
  color: #f3d841;
  text-decoration: none;
  transform: scale(0.6);
}

/* nav section */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 999;
}

.nav.active {
  opacity: 1;
  visibility: visible;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  display: inline-block;
  color: #1d1c1c;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  font-weight: 300;
}

.nav ul li a:hover {
  color: #f3d841;
}

/* ============================== */
/* projects page */
.projects {
  margin: 10% auto auto auto;
  text-transform: uppercase;
  font-size: 1em;
}

.carousel{
  margin: -150px auto 0 auto;
  height: 1000px;
  perspective: 600px;
  
}
.carousel .carousel-item{
  width: 400px;
}

.carousel .carousel-item img{
  width: 100%;
  border-radius: 10px;
}

.carousel .carousel-item h1{
  margin: -15px 0 0 200px;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 5px;
}
.carousel .carousel-item a{
  text-decoration: none;
  color: #f3d841;
}

.carousel-description{
  width: 800px;
}

.carousel-description p{
  margin-right: 140px;
font-size: 1.3em;
}
.carousel-description button{
 margin: 10px 100px 0 0;
font-size: 20px;
font-family: sans-serif;
cursor: pointer;
z-index: 1;
}

.carousel .carousel-item h1:hover{
  color: #fff;
}



/*=============================*/
#content {
  display: none;
}

input[type="text"]{
    color: transparent;
    text-shadow: 0 0 0 #fff;
    padding: 6px 12px;
    font-size: 11px;
    width: 150px;
    border-bottom: 2px solid #f3d841;
    cursor: pointer;
}

input[type="text"]:hover{
  color: transparent;
  text-shadow: 0 0 0 #f3d841;
  cursor: pointer;
}
input[type="text"]:focus{
    outline: none;
}
input:focus + div#content {
  display: block;
}




/* ============================== */
      /* mobile responsive */
/*================================ */
/* landing page */
@media screen and (max-width: 600px) {
  .logo {
    
    font-size: 4vw;
   
    font-weight: normal;
  }

  .toggle {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    color: #f3d841;
  }
  .landing-content {
    margin: 0 0 100px -120px;
    text-align: center;
  }
  
  .landing-content h1 {
    font-size: 9vw;
    margin-left: 200px;
  }
  
  .landing-content h2 {
    font-size: 3vw;
    margin-right: 10px;
  }
  
  #text-indent {
    margin-left: 200px;
  }
}

/* carousel projects showcase */
@media screen and (max-width: 600px) {
  .carousel{
    margin: -150px 0 0 -30px;
    height: 400px;
    text-align: center;
    perspective: 10px;
    
  }
  .carousel .carousel-item{
    width: 50px;
    margin-left: -100px;
  }
  
  .carousel .carousel-item img{
    width: 250px;
  }
  
  .carousel .carousel-item h1{
    margin: -10px 0 0 90px;
    font-size: 6vw;
    letter-spacing: 3px;
  }
  .carousel-description{
    width: 400px;
    padding-bottom: 100px;
  }
  
  .carousel-description p{
  margin-right: 300px;
  font-size: 3.8vw;
  padding-bottom: 100px;
  width: 250px;
  text-align: justify;
  }
  .carousel-description button{
   margin: 10px 100px 0 0;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 1;
  }
 
  .input-box {
    width: 10%;
    display:inline-block;
  }
  #content {
    display: block;
  }
  input[type="text"]{
      font-size: 9vw;
      padding: 60px 12px;
      border-bottom: 2px solid #f3d841;
      cursor: pointer;
      text-transform: lowercase;
      font-size: 12px;
  }
  .input-width{
    height: 200px;
  }
  .input-width{
    width: 100%;
  }

  .carousel-description button{
    margin: 10px 100px 20px 0;
   font-size: 20px;
   font-family: sans-serif;
   cursor: pointer;
   z-index: 1;
   }

  .social-icons li a{
    display: none;
  }
  
}